<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "choose a name", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_field :bio, :placeholder => "write a bio", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save Author", class: "btn btn-primary" %>
  </div>
<% end %>
